@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

body {
    @apply font-primary overflow-x-hidden text-base;
}
.collapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}
.collapse.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
}